h1 {
    text-align: center;
}
.container {
    height: 90vh;
    width: 100%;
    background-color: black;
}
.white-board {
    width: 90%;
    height: 100%;
    background-color: aqua;
    float: right;
}

.p1 {
    background-color: rgb(255, 255, 255);
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 2px;
}